*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

/* Header */

header{
    background:
    linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
    url("../shop.jpg.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    color:white;
    text-align:center;
    padding:60px 20px;
}


.logo{
    width:140px;
    height:140px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid gold;
    box-shadow:0 0 20px rgba(255,215,0,.5);
    margin-bottom:20px;
}

header h1{
    font-size:45px;
    margin-bottom:10px;
}

.tagline{
    font-size:24px;
    color:#ffd700;
}

/* Banner */

.banner{
    padding:0;
}

.banner img{
    width:100%;
    border-radius:0;
}

/* Categories */

.categories{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
    gap:25px;
    padding:40px 25px;
}

.card{
    border:2px solid #d4af37;
}    
    background:white;
    border-radius:15px;
    padding:25px;
    text-align:center;
    transition:.3s;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.25);
}

.card h3{
    color:#b8860b;
    font-size:28px;
    margin-bottom:12px;
}

.card p{
    font-size:19px;
    color:#555;
}

/* WhatsApp */

.whatsapp{
    text-align:center;
    margin:40px 20px;
}

.whatsapp a{
    display:inline-block;
    background:#25D366;
    color:white;
    text-decoration:none;
    padding:18px 45px;
    font-size:24px;
    border-radius:50px;
    font-weight:bold;
    transition:.3s;
    box-shadow:0 10px 20px rgba(37,211,102,.4);
}

.whatsapp a:hover{
    background:#128C7E;
    transform:scale(1.05);
}

/* Footer */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:40px 20px;
}

footer h3{
    color:gold;
    margin:15px 0;
    font-size:28px;
}

footer p{
    font-size:20px;
}

/* Mobile */

@media(max-width:768px){

header h1{
    font-size:28px;
}

.tagline{
    font-size:18px;
}

.logo{
    width:110px;
    height:110px;
}

.card h3{
    font-size:22px;
}

.card p{
    font-size:18px;
}

.whatsapp a{
    width:90%;
    font-size:22px;
}
}
